{% extends 'base_user.html.twig' %}

{% block body %}
    <div class="banner">
        <h1>{{ culte.date|date('l d F') }}</h1>
    </div>
    <br/>

    <div class="container">
      <div class="btn-group pull-right" role="group">
      {% if is_granted("ROLE_WORSHIP") %}
        <a type="button" class="btn btn-primary btn-sm" href="{{ path('app_culteedit_band', { 'id' : culte.id}) }}" ><span class="glyphicon glyphicon-music"></span> Louange</a>
      {% endif %}
      {% if is_granted("ROLE_PRESIDENT") %}
        <a type="button" class="btn btn-primary btn-sm" href="{{ path('app_culteedit_president', { 'id' : culte.id}) }}"><span class="glyphicon glyphicon-sunglasses"></span> Présidence</a>
      {% endif %}
      {% if is_granted("ROLE_PREACHER") %}
        <a type="button" class="btn btn-primary btn-sm" href="{{ path('app_culteedit_president', { 'id' : culte.id}) }}"><span class="glyphicon glyphicon-bullhorn"></span> Prédication</a>
      {% endif %}
      {% if is_granted("ROLE_SONO") %}
        <a type="button" class="btn btn-primary btn-sm" href="{{ path('app_culteedit_sono', { 'id' : culte.id}) }}" ><span class="glyphicon glyphicon-flash"></span> Sono</a>
      {% endif %}
      {% if is_granted("ROLE_ADMIN") %}
        <a type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Supprimer</a> 
      {% endif %}
      </div>
    </div><br/>

<div class="container">
    <div class="row">
        <div class="col-md-8">
        
        {% if not culte.images.isEmpty() %}
            <style type="text/css">
                img.culte-img {
                  max-width: 100%;
                  position: relative;
                  top: 30%;
                    -webkit-transform: translateY(-30%);
                    -ms-transform: translateY(-30%);
                    transform: translateY(-30%);
                }

                .hero-img {
                  max-width: 100%;
                  max-width: 800px;
                  margin: auto;
                  overflow: hidden;
                }

                .hero-img::after {
                  display: block;
                  position: relative;
                  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
                  margin-top: -500px;
                  height: 250px;
                  width: 100%;
                  content: '';
                }
            </style>
            <div class="hero-img"><img class="culte-img" src="{{ asset('uploads/banners/' ~ culte.images[0].filename) }}"/></div>
        {% endif %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% if culte.infos %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingInfos">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInfos" aria-expanded="true" aria-controls="collapseInfos">
          Informations
        </a>
        {% if is_granted("ROLE_PRESIDENT") %}
            <a href="{{ path('app_culteedit_president', { 'id' : culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
      </h4>
    </div>
    <div id="collapseInfos" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingInfos">
      <div class="panel-body">
        {{ culte.infos | raw }}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMessage">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMessage" aria-expanded="true" aria-controls="collapseMessage">
          Prédication
        </a>
        {% if is_granted("ROLE_PREACHER") %}
            <a href="{{ path('app_culte_preacher_update', { 'id' : culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
      </h4>
    </div>
    <div id="collapseMessage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMessage">
      <div class="panel-body">
        Prédication : <b>{{ culte.sermon }}</b> par {{ culte.preacher }}<br/><br/>
                {% if(culte.presentation) %}<a class="btn btn-primary btn-small" href="{{ asset('uploads/presentations/' ~ culte.presentation) }}"><span class="glyphicon glyphicon-save"></span> Présentation</a>{% endif %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDesign">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDesign" aria-expanded="true" aria-controls="collapseDesign">
          Graphisme
        </a>        
      </h4>
    </div>
    <div id="collapseDesign" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDesign">
      <div class="panel-body row">
        {% for img in culte.images %}
          <div class="col-md-3"><b>{{img.title}}</b> {% if is_granted("ROLE_DESIGN") %}<a href="{{ path('app_culteedit_rmimg', {'id' : culte.id, 'imgId' : img.id}) }}" class="pull-right"><span class="glyphicon glyphicon-trash"> </span></a>{% endif %}<img src="{{ asset('uploads/banners' ~ '/' ~ img.filename) }}" alt="{{ img.title }}" class="img-thumbnail"></div>
        {% endfor %}
        {% if is_granted("ROLE_DESIGN") %}
          <div class="col-md-3"><a href="{{ path('app_culteedit_addimg', {'id': culte.id}) }}" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-plus"></span> </a></div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingBand">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBand" aria-expanded="true" aria-controls="collapseBand">
          Louange
        </a>
        {% if is_granted("ROLE_WORSHIP") %}
            <a href="{{ path('app_culteedit_band', { 'id' : culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
      </h4>
    </div>
    <div id="collapseBand" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBand">
      <div class="panel-body">
        Dimanche matin : {{ culte.bandRehearsal |date('G\\hm')}}
      </div>
    </div>
  </div>

  <!--<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Louange
        </a>
        {# {% if is_granted("ROLE_ADMIN") || is_granted("ROLE_LOUANGE") %} #}
            <a href="#" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        {# {% endif %} #}
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">¨
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Annonces
        </a>
        {# {% if is_granted("ROLE_ADMIN") || is_granted("ROLE_PRESIDENT") %} #}
            <a href="#" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        {# {% endif %} #}
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>-->
</div>
                    </div>
    <div class="col-md-4">
        <div>
            Prédication : <b>{{ culte.preacher }}</b>
            {% if is_granted("ROLE_PREACHER") %}
                <a href="{{ path('app_culte_preacher_update', {'id': culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <br/>
            Louange : <b>{% if culte.band %}{{ culte.band.firstName }} {{ culte.band.lastName }} et son équipe {% endif %}</b>
            {% if is_granted("ROLE_WORSHIP") %}
                <a href="{{ path('app_culteedit_band', {'id' : culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}

            <br/>
            Présidence :{% if culte.president %} <b>{{ culte.president.firstName }} {{ culte.president.lastName }}{% endif %}</b>
            {% if is_granted("ROLE_PRESIDENT") %}
                <a href="{{ path('app_culteedit_president', { 'id' : culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <br/>
            Sono : {% if culte.sono %}<b>{{ culte.sono.firstName }} {{ culte.sono.lastName }}</b>{% endif %}
            {% if is_granted("ROLE_SONO") %}
                <a href="{{ path('app_culteedit_sono', {'id': culte.id}) }}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </div>
        <h5 class="page-header">Structure du culte{% if is_granted("ROLE_SONO") %}
            {% endif %}</h5>
        {{ culte.structure | raw }}

    </div><!-- Right sidebar -->
</div>

{% endblock %}
