{% extends 'base_admin.html.twig' %}

{% block title %} Utilisateurs - {% endblock %}

{% block body %}
    <div class="banner">
        <h1>Utilisateurs</h1>
    </div>

    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Permissions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>{% for user in users %}
            <tr>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{% for group in user.securityGroups %}
                        <span class="label label-primary">{{ group.name }} <a href="{{ path('admin_user_demote', {'userId' : user.id, 'groupId' : group.id}) }}"><i class="glyphicon glyphicon-remove" style="color: white"> </i></a></span>
                        {% endfor %}
                <td>
                    <ul>
                        <li>
                            TODO Reset Password 
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-user"></span> Promote : <a href="{{ path('admin_user_promote', {'userId' : user.id, 'groupId' : 1}) }}">Louange</a> / 
                            <a href="{{ path('admin_user_promote', {'userId' : user.id, 'groupId' : 3}) }}">Prédicateur</a> / 
                            <a href="{{ path('admin_user_promote', {'userId' : user.id, 'groupId' : 4}) }}">Sono</a> / 
                        </li>
                    </ul>
                    
                    
                </td>
                <!-- Checkboxes ? Or in dropdown maybe ?
                <td>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">SUPER_ADMIN</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">ADMIN</label>
                    </div>
                </td>
                -->
            </tr>
        {% endfor %}</tbody>
    </table>

    <style>
    div.banner {
        background: #937e3b;
        color: white;
        width: 100%;
        text-align: center;
        max-height: 250px;
        padding: 1px;
    }
    div.banner h1 {
        color: white;
        font-weight: 700;
        font-size: 3em;
        text-transform: uppercase;
    }</style>
{% endblock %}
