{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Pwd</th>
                <td>{{ user.pwd }}</td>
            </tr>
            <tr>
                <th>Dtcreated</th>
                <td>{{ user.dtCreated|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_profile_edit') }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="text-danger" type="submit" value="Supprimer"></input>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
