{% extends 'base.html.twig' %}

{% block title %}Inscription - {% endblock %}
{% block body %}
            <div id="page-title">
                <h1>Registration</h1>
            </div>
            <div>
            {{ form_start(form) }}
			    {{ form_row(form.email) }}
			    {{ form_row(form.plainPassword.first) }}
			    {{ form_row(form.plainPassword.second) }}

			    <button type="submit">Register!</button>
			{{ form_end(form) }}
			</div>
{% endblock %}
